.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh; /*Ocupar toda altura*/
    margin: 0 auto; /* Vai sempre manter o conteúdo centralizado*/

    display: flex; /* O displau flex mantem todos os itens do mesma div um do lado do outro */
    align-items: center;
    justify-content: space-between;
}

.logon-container section.form{
    width: 100%;
    max-width: 350px;
    margin-right: 30px;
}

.logon-container section.form form {
    margin-top: 100px;
}

.logon-container section.form form h1 {
    font-size: 32px;
    margin-bottom: 32px;
}

.logon-container section.form form a {
    display: flex;
    text-decoration: none;
    font-weight: 500;
    color: #41414D;
    margin-left: 0;
    font-size: 18px;
    align-items: center;
    margin-top: 40px;
    transition: opacity 0.2;
}

.logon-container section.form form a svg{
    margin-right: 8px;
}

.logon-container section.form form a:hover {
    opacity: 0.8;
}


